<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only"for="room-pass">Insira a senha</label>
        <input type="password" name="password" id="room-pass" placeholder="Insira a senha">
        <button>
            <img src="/imgs/room-create-button-w.svg" alt="Criar Sala">
            Criar sala
        </button>
    </form>
</section>